@import "tailwindcss";

/* enable dark variant */
@custom-variant dark (&:where(.dark, .dark *));

/* theme */
:root {
  --background: #f3f4f6;
  --foreground: #171717;

  --dark-1: #000000;
  --dark-2: #0c1017;
  --dark-3: #0e141c;
  /* Mastery Title Colors */
  --rookie-primary: #4168e2;
  --rookie-primary-rgb: 65, 104, 226;
  --rookie-secondary: #4168e2;
  --warrior-primary: #8d2e2e;
  --warrior-secondary: #eaafaf;
  --protagonist-primary: #c49352;
  --protagonist-secondary: #fdf099;
  --prodigy-primary: #713599;
  --prodigy-secondary: #baafea;
  --alchemist-primary: #4187a2;
  --alchemist-secondary: #afd9ea;
  --diplomat-primary: #31784e;
  --diplomat-secondary: #afeac7;
  --rookie-text: #9aa0ae;
  --warrior-text: #8d2e2e;
  --protagonist-text: #c49352;
  --prodigy-text: #713599;
  --alchemist-text: #4187a2;
  --diplomat-text: #31784e;

  /* Life Aspect Colors */
  --aspect-physique: #8d2e2e;
  --aspect-physique-rgb: 141, 46, 46;

  --aspect-energy: #c49352;
  --aspect-energy-rgb: 196, 147, 82;

  --aspect-social: #31784e;
  --aspect-social-rgb: 49, 120, 78;

  --aspect-creativity: #4187a2;
  --aspect-creativity-rgb: 65, 135, 162;

  --aspect-logic: #713599;
  --aspect-logic-rgb: 113, 53, 153;

  /* UI Colors */
  --border: #e5e7eb;
  --card: #f9fafb;
  --muted: #9ca3af;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #000000;
  --foreground: #ededed;
  --border: #262626;
  --card: #1a1a1a;
  --muted: #6b7280;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.bg-rookie {
  background-color: var(--rookie-primary);
}

.text-rookie {
  color: var(--rookie-primary);
}


@utility bg-dark-1 {
  background-color: var(--dark-1);
}

@utility bg-dark-2 {
  background-color: var(--dark-2);
}

@utility bg-dark-3 {
  background-color: var(--dark-3);
}

@media (min-width: 768px) {
  .dark .md\:dark\:bg-dark-2 {
    background-color: #0c1017;
  }
}



.inverted-theme {
  filter: invert(1) hue-rotate(180deg);
}


.profile-info-card{
  /* when screen width above 1200px, block, else display none */
  @media (min-width: 1200px) {
    display: block;
  }
  @media (max-width: 1199px) {
    display: none;
  }
}



.scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
    
/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}



  .noscrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.noscrollbar {
  scrollbar-width: none;
}


.recharts-wrapper:focus,
.recharts-wrapper:focus-visible,
.recharts-surface:focus,
.recharts-surface:focus-visible,
.recharts-responsive-container:focus,
.recharts-responsive-container:focus-visible,
svg:focus,
svg:focus-visible {
  outline: none !important;
}