@import "tailwindcss";

/* enable dark variant */
@custom-variant dark (&:where(.dark, .dark *));

/* theme */
:root {
  --background: #ffffff;
  --foreground: #111111;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}
